
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/tests/SkipLoginFeature/
tests/frameAlerts.spec.ts
tests/classActivity/
tests/fileDownload.spec.ts
tests/marathonSession/
tests/sampleDemo.spec.ts
tests/testAnnotations.spec.ts
LeadData/